{% extends 'base.html.twig' %}

{% block body %}

<div class="row">

    <div class="col-lg-7">
        <h2>Votes</h2>

        <table class="table table-sm table-striped table-bordered js-vote-table">
            <thead>
                <tr>
                    <th>Artist</th>
                    <th>Title</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for vote in votes %}
                {{ include('home/voterow.html.twig') }}
            {% endfor %}
            </tbody>
        </table>

        <div class="js-new-vote-form-wrapper">
            {{ include('home/form.html.twig') }}
        </div>
    </div>

    <div class="col-lg-5">
        <div class="count">

            <h2><span class="fas fa-headphones mr-3"></span>Count</h2>

            <table class="table table-sm table-striped js-count-table">
                <thead>
                    <tr>
                        <th>Artist</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                {% for song in songs %}
                    <tr>
                        <td>{{ song.artist }}</td>
                        <td class="js-count-cell-{{ song.id }}">{{ song.count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}
