{% extends 'base.html.twig' %}

{% block body %}

<div class="row">

    <div class="col-lg-7">
        <h2>Votes</h2>

        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Artist</th>
                    <th>Title</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for vote in votes %}
                <tr>
                    <td>{{ vote.artist }}</td>
                    <td>{{ vote.title }}</td>
                    <td>{{ vote.quantity }}</td>
                    <td><a href="{{ path('delete', {'vote' : vote.id }) }}"><span class="fa fa-trash-alt"></span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
            {{ form_widget(form.song) }}
            {{ form_widget(form.quantity) }}
            {{ form_widget(form.submit) }}
        {{ form_end(form) }}
    </div>

    <div class="col-lg-5">
        <div class="count">

            <h2><span class="fas fa-headphones mr-3"></span>Count</h2>

            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Artist</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                {% for song in songs %}
                    <tr>
                        <td>{{ song.artist }}</td>
                        <td>{{ song.count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}
